---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.quotes%20WHERE%20symbol%20IN%20('HMC')
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Anticrime:
      - S70sCAnO2YDAw2
      X-Yql-Host:
      - engine7.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2014-07-31T15:16:01Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"1","execution-time":"1","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.quotes.xml"},{"execution-start-time":"4","execution-stop-time":"60","execution-time":"56","content":"http://download.finance.yahoo.com/d/quotes.csv?f=aa2bb2b3b4cc1c3c4c6c8dd1d2ee1e7e8e9ghjkg1g3g4g5g6ii5j1j3j4j5j6k1k2k4k5ll1l2l3mm2m3m4m5m6m7m8nn4opp1p2p5p6qrr1r2r5r6r7ss1s7t1t7t8vv1v7ww1w4xy&s=HMC"}],"publiclyCallable":"true","cache":{"execution-start-time":"4","execution-stop-time":"4","execution-time":"0","method":"GET","type":"MEMCACHED","content":"5d1e1de680846a307c9874dc3d6878dc"},"query":{"execution-start-time":"4","execution-stop-time":"60","execution-time":"56","params":"{url=[http://download.finance.yahoo.com/d/quotes.csv?f=aa2bb2b3b4cc1c3c4c6c8dd1d2ee1e7e8e9ghjkg1g3g4g5g6ii5j1j3j4j5j6k1k2k4k5ll1l2l3mm2m3m4m5m6m7m8nn4opp1p2p5p6qrr1r2r5r6r7ss1s7t1t7t8vv1v7ww1w4xy&s=HMC]}","content":"select
        * from csv where url=@url and columns=''Ask,AverageDailyVolume,Bid,AskRealtime,BidRealtime,BookValue,Change&PercentChange,Change,Commission,Currency,ChangeRealtime,AfterHoursChangeRealtime,DividendShare,LastTradeDate,TradeDate,EarningsShare,ErrorIndicationreturnedfors[...]
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/url/URLGetTargetedSentiment
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.nasdaq.com%2Farticle%2Fautomakers-dominate-green-brands-list-ford-tops-analyst-blog-cm365329&target=Honda&apikey=e9ac28255f8f8ea1327a84f05a20c7b74b768090&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"http://www.nasdaq.com/article/automakers-dominate-green-brands-list-ford-tops-analyst-blog-cm365329\",\r\n
        \   \"language\": \"english\",\r\n    \"docSentiment\": {\r\n        \"type\":
        \"neutral\"\r\n    }\r\n}\r\n"
  recorded_at: Thu, 31 Jul 2014 15:16:04 GMT
recorded_with: VCR 2.9.2
