---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.quotes%20WHERE%20symbol%20IN%20('TSLA')
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Anticrime:
      - IrJe
      X-Yql-Host:
      - engine1.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2014-07-28T20:57:03Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"1","execution-time":"1","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.quotes.xml"},{"execution-start-time":"4","execution-stop-time":"9","execution-time":"5","content":"http://download.finance.yahoo.com/d/quotes.csv?f=aa2bb2b3b4cc1c3c4c6c8dd1d2ee1e7e8e9ghjkg1g3g4g5g6ii5j1j3j4j5j6k1k2k4k5ll1l2l3mm2m3m4m5m6m7m8nn4opp1p2p5p6qrr1r2r5r6r7ss1s7t1t7t8vv1v7ww1w4xy&s=TSLA"}],"publiclyCallable":"true","cache":{"execution-start-time":"3","execution-stop-time":"3","execution-time":"0","method":"GET","type":"MEMCACHED","content":"5d1e1de680846a307c9874dc3d6878dc"},"query":{"execution-start-time":"3","execution-stop-time":"9","execution-time":"6","params":"{url=[http://download.finance.yahoo.com/d/quotes.csv?f=aa2bb2b3b4cc1c3c4c6c8dd1d2ee1e7e8e9ghjkg1g3g4g5g6ii5j1j3j4j5j6k1k2k4k5ll1l2l3mm2m3m4m5m6m7m8nn4opp1p2p5p6qrr1r2r5r6r7ss1s7t1t7t8vv1v7ww1w4xy&s=TSLA]}","content":"select
        * from csv where url=@url and columns=''Ask,AverageDailyVolume,Bid,AskRealtime,BidRealtime,BookValue,Change&PercentChange,Change,Commission,Currency,ChangeRealtime,AfterHoursChangeRealtime,DividendShare,LastTradeDate,TradeDate,EarningsShare,ErrorIndicationreturnedfor[...]
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/url/URLGetTargetedSentiment
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fus.rd.yahoo.com%2Ffinance%2Fexternal%2Fmfool%2Frss%2FSIG%3D13adpn41e%2F*http%3A%2F%2Fwww.fool.com%2Finvesting%2Fgeneral%2F2014%2F07%2F28%2Fwill-tesla-motors-blow-away-wall-street-when-it-re.aspx%3Fsource%3Deogyholnk0000001&target=Tesla&apikey=e9ac28255f8f8ea1327a84f05a20c7b74b768090&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"http://www.fool.com/investing/general/2014/07/28/will-tesla-motors-blow-away-wall-street-when-it-re.aspx?source=eogyholnk0000001\",\r\n
        \   \"language\": \"english\",\r\n    \"docSentiment\": {\r\n        \"type\":
        \"positive\",\r\n        \"score\": \"0.343135\",\r\n        \"mixed\": \"1\"\r\n
        \   }\r\n}\r\n"
  recorded_at: Mon, 28 Jul 2014 20:57:09 GMT
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/url/URLGetTargetedSentiment
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Ffinance.yahoo.com%2Ftumblr%2Fblog-the-week-ahead-macro-fomc-exxon-tesla-twitter-113529542.html&target=Tesla&apikey=e9ac28255f8f8ea1327a84f05a20c7b74b768090&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"ERROR\",\r\n    \"statusInfo\": \"cannot-retrieve:operation-timeout:downstream-http\",\r\n
        \   \"usage\": \"By accessing AlchemyAPI or using information generated by
        AlchemyAPI, you are agreeing to be bound by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"http://finance.yahoo.com/tumblr/blog-the-week-ahead-macro-fomc-exxon-tesla-twitter-113529542.html\",\r\n
        \   \"language\": \"unknown\"\r\n}\r\n"
  recorded_at: Mon, 28 Jul 2014 20:58:23 GMT
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/url/URLGetTargetedSentiment
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.nasdaq.com%2Farticle%2Ftoyota-to-produce-first-fuel-cell-car-cm370962&target=Tesla&apikey=e9ac28255f8f8ea1327a84f05a20c7b74b768090&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"http://www.nasdaq.com/article/toyota-to-produce-first-fuel-cell-car-cm370962\",\r\n
        \   \"language\": \"english\",\r\n    \"docSentiment\": {\r\n        \"type\":
        \"neutral\"\r\n    }\r\n}\r\n"
  recorded_at: Mon, 28 Jul 2014 20:58:28 GMT
recorded_with: VCR 2.9.2
