<div class = "container"><header>
	<div class = "wrapper">
	<h1>Emotional Securities</h1>
	
	<div class = "search">
		<ul id = "nav">
			<li>Pick a Stock
			<ul>
				<li><a href = "#">Aaple</a></li>
				<li><a href = "#">Google</a></li>
				<li><a href = "#">Tesla</a></li>
				<li><a href = "#">Chelsea Therapeutics</a></li>
				<li><a href = "#">Starbucks</a></li>
				<li><a href = "#">Yahoo!</a></li>
				<li><a href = "#">Cummins</a></li>
				<li><a href = "#">Tyson Foods</a></li>
				<li><a href = "#">Aflac</a></li>
				<li><a href = "#">American Express</a></li>
				<li><a href = "#">Amgen</a></li>
				<li><a href = "#">CBRE GRoup</a></li>
				<li><a href = "#">Level 3</a></li>
				<li><a href = "#">Honda</a></li>
				<li><a href = "#">Merck and Co.</a></li>
				<li><a href = "#">Twitter</a></li>
			</ul>
			</li>
		</ul>

	</div>
	</div>
</header>

<section class = "metrics">
	<ul>
	<div = "wrapper">
	<li>
			<div class = "feature herd">
		<div class = "overlay herd">
			<h3>Herd</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature expert">
		<div class = "overlay expert">
			<h3>Expert</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature three">
		<div class = "overlay three">
			<h3>Three</h3>
		</div>
			</div>
	</li>
	<li>
			<div class = "feature four">
		<div class = "overlay four">
			<h3>Four</h3>
		</div>
			</div>
	</li>

	</div>
	</ul>
</section>

<section id="chart-area">
<div id = "chart">
</div>
</section>
<div class = "push"></div>
</div>

<footer>
	<div class = "copyright">
	</div>
	<nav>
		<ul>
			<li>
				<%= link_to 'Gratitude', '#' %>
			</li>
			|
			<li>
				<%= link_to 'About The Authors', '#' %>
			</li>
			|
			<li>
				<%= link_to 'Source', "#" %>
			</li>
	</nav>
</footer>