<div class = "container"><header>
	<div class = "wrapper">
	<h1>Emotional Securities</h1>
	
	<div class = "search">

	</div>
</div>
</header>

<nav>
	<ul>
	<div = "wrapper">
	<li>
		<div class = "block 1">
		</div>
	</li>
	<li>
		<div class = "block 2">
		</div>
	</li>
	<li>
		<div class = "block 3">
		</div>
	</li>
	<li>
		<div class = "block 4">
		</div>
	</li>

	</div>
	</ul>
</nav>

<section id="chart-area">
<div id = "chart">
</div>
</section>
<div class = "push"></div>
</div>

<footer>
	<div class = "copyright">
		
	</div>
	<nav>
	</nav>
</footer>
