<header>
	<h1>Emotional In Securities</h1>
	
	<div class = "search">
	</div>
</header>

<nav>
	<ul>
	<li>
		<div class = "block 1">
		</div>
	</li>
	<li>
		<div class = "block 2">
		</div>
	</li>
	<li>
		<div class = "block 3">
		</div>
	</li>
	<li>
		<div class = "block 4">
		</div>
	</li>
</nav>

<section id="chart-area">
<div id = "chart">
</div>
</section>

<footer>
</footer>