<header>
	<div class = "wrapper">
	<h1>Emotional Securities</h1>
	
	<div class = "search">
		<ul id = "nav">
			<li class="btn">Pick a Stock
			<ul class = "stocks">
				<li class = "AAPL"><a href = "#">Apple</a></li>
				<li class = "GOOG"><a href = "#">Google</a></li>
				<li class = "TSLA"><a href = "#">Tesla</a></li>
				<li class = "SBUX"><a href = "#">Starbucks</a></li>
				<li class = "CMI"><a href = "#">Cummins</a></li>
				<li class = "TSN"><a href = "#">Tyson Foods</a></li>
				<li class = "AFL"><a href = "#">Aflac</a></li>
			</ul>
			</li>
		</ul>

	</div>
	</div>
</header>