<header>
	<div class = "wrapper">
	<h1>Emotional Securities</h1>
	
	<div class = "search">
		<ul id = "nav">
			<li>Pick a Stock
			<ul class = "stocks">
				<li class = "AAPL"><a href = "#">Apple</a></li>
				<li class = "GOOG"><a href = "#">Google</a></li>
				<li class = "TSLA"><a href = "#">Tesla</a></li>
				<li class = "CHTP"><a href = "#">Chelsea Therapeutics</a></li>
				<li class = "SBUX"><a href = "#">Starbucks</a></li>
				<li class = "YHOO"><a href = "#">Yahoo!</a></li>
				<li class = "CMI"><a href = "#">Cummins</a></li>
				<li class = "TSN"><a href = "#">Tyson Foods</a></li>
				<li class = "AFL"><a href = "#">Aflac</a></li>
				<li class = "AXP"><a href = "#">American Express</a></li>
				<li class = "AMGN"><a href = "#">Amgen</a></li>
				<li class = "CBG"><a href = "#">CBRE GRoup</a></li>
				<li class = "LVLT"><a href = "#">Level 3</a></li>
				<li class = "HMC"><a href = "#">Honda</a></li>
				<li class = "MRK"><a href = "#">Merck & Co.</a></li>
				<li class = "TWTR"><a href = "#">Twitter</a></li>
			</ul>
			</li>
		</ul>

	</div>
	</div>
</header>