Glasses designed by <a href="http://www.thenounproject.com/sthalme">Steffen Halme</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

Community designed by <a href="http://www.thenounproject.com/Mikhail1986">Michael Rowe</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

Delta designed by <a href="http://www.thenounproject.com/JasmineJJones">Jasmine Jones</a> from the <a href="http://www.thenounproject.com">Noun Project</a>