* {
	margin: 0;
}

html, body, .metrics, .container  {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	// padding-top: 5em;
	height: 100%;
}


header {
	text-align: center;
	width: 100%;
	// padding: 0em 1em;
	@include clearfix;
	// @include margin(null null 3em null);
	position: fixed;
	top:0;
	z-index: 2;

	.wrapper {
		@include outer-container;
	}

	h1 {
		line-height: $body-line-height;
		float:left;
		@include shift(1);
	}

	.search {
		float: right;
		margin: 1em 1em;
		line-height: $body-line-height;
	}
}



li {
	display: inline-block;
	line-height: $body-line-height;
}

.landing h1 {
	color: $dark;
	// text-shadow: .5px .5px 0 $blue;
	display: block;
	position: relative;
	clear:both;
	text-align: center;
	font-family: $bitter;
	// font-weight: 800;
	top: -2em;
	// padding-top: 10em;
}

.landing img {
	@include span-columns(6);
	@include shift(3);	
	height: 90%;
	position: relative;
	// top: -1em;
	// padding-top:
}



.metrics {
	@include media($mini-mobile) {
		padding-top: 5em;
	}
}

.metrics ul {
	text-align: center;
	@include shift(1.5);
	@include span-columns(9);
	padding-top: 1em;
}


.metrics.wrapper {
	@include shift(1);
}

.metrics li {
	// border: 1px solid $dark;
	// height: 8em;
	@include span-columns(3 of 9);
	
	@include media($mini-mobile) {
		@include span-columns(4 of 6);
		@include shift(1);
		// margin: 1em 0em;
		text-align: center;
	}
}

.metrics .feature {
	margin: 0 auto;
	// height: 20%;
}

#chart-area {
	@include margin(2em null 2em null);
	@include span-columns(10);
	@include shift(1);
	// height: 35em;
	// border: 1px solid $dark;
}

.landing {
	height: 100%;
	margin: auto;
	background-color: $main;
	// padding-top: 3em;
}

.metrics {
	// height: 100%;
}

#chart-area {
	position: relative;
	height: 95%;
}

#about {
	text-align:center;
	height: 100%;
	clear: both;
}

article {
	@include padding(1em 2em 1em 3em);
	@include span-columns(9);
	@include shift(1.5);
	text-align: left;
	@include media($mini-mobile) {
		@include span-columns(6 of 6);
		@include shift(0);
	}
}

article p {
	color: $dark;
	@include padding(.5em null .5em null);
	@include media($mini-mobile) {
		@include padding(.1em null .1em null);
	}
}

