html, body {
	height: 100%;
}

header {
	text-align: center;
	padding: 0em 1em;
	@include clearfix;
	@include margin(null null 2em null);

	.wrapper {
		@include outer-container;
	}

	h1 {
		line-height: $body-line-height;
		float:left;
		@include shift(1);
	}
}

nav ul {
	text-align: center;
	@include shift(2);
	@include span-columns(8);
}


nav.wrapper {
	@include shift(1);
}

nav li {
	border: 1px solid $dark;
	display: inline-block;
	height: 5em;
	@include span-columns(2 of 8);
	
	@include media($mobile) {
		@include span-columns(4 of 8);
		margin: 1em 0em;
	}
}

nav .block {
	margin: 0 auto;
	height: 70%;
	width: 70%;
}

#chart-area {
	@include margin(2em null 2em null);
	@include span-columns(6);
	@include shift(3);
	height: 15em;
	border: 1px solid $dark;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
}

footer, .push {
	height: 25px;
	margin: 0;
}