* {
	margin: 0;
}

html, body {
	height: 100%;
}

header {
	text-align: center;
	padding: 0em 1em;
	@include clearfix;
	@include margin(null null 2em null);

	.wrapper {
		@include outer-container;
	}

	h1 {
		line-height: $body-line-height;
		float:left;
		@include shift(1);
	}

	.search {
		float: right;
		margin: 1em 1em;
		line-height: $body-line-height;
	}
}

li {
	display: inline-block;
	line-height: $body-line-height;
}

.metrics ul {
	text-align: center;
	@include shift(2);
	@include span-columns(8);
}


.metrics.wrapper {
	@include shift(1);
}

.metrics li {
	// border: 1px solid $dark;
	height: 5em;
	@include span-columns(2 of 8);
	
	@include media($mobile) {
		@include span-columns(4 of 8);
		margin: 1em 0em;
	}
}

.metrics .block {
	margin: 0 auto;
	height: 70%;
	width: 70%;
}

#chart-area {
	@include margin(2em null 2em null);
	@include span-columns(6);
	@include shift(3);
	height: 20em;
	border: 1px solid $dark;
}


footer nav {
	float: right;
}

footer li {
	@include margin(.1em 1em null .5em);
}

footer {
	width: 100%;
	overflow: hidden;
}