
html {
	background-color: $white;
}

h1 {
	// font-size: 2.5em;
	// letter-spacing: .04em;
	color: $white;
	font-family: $newscycle;
	font-weight: 400;
	// text-shadow: 2px 1px $dark;
}

header {
	@include linear-gradient($light, $main);
	@include clearfix;
	background-color: $main;
	text-align: center;
	padding: 0em 1em;


	.wrapper {
		@include outer-container;
	}

	h1 {
		line-height: $body-line-height;
		// float:left;
		// @include shift(1);
	}
}

ul {
	@include outer-container;
	@include shift(1);
	@include span-columns(10);
	text-align: center;
	padding: 1em 0;
}


nav.wrapper {
	@include shift(1);
}

.block {
	display: inline-block;
	@include span-columns(2.3 of 10);
	margin: 1em 2em;
	height: 8em;
	background-color: $white;
	// @include linear-gradient($light, $main);
	@include directional-property(border,width,.1em .1em .1em .1em);
	@include directional-property(border, color,$dark $dark $dark $dark);
	@include border-style(solid solid solid);
	border-radius: 5px;

}