
html {
	background-color: $white;
}

a {
	text-decoration: none;
}

footer, footer a {
	color: $white;
	font-family: $oldstandard;
	// font-size: 1.1em;
	font-weight: 400px;
}

#{$all-text-inputs} {
  border: 1px $med-dark;
  border-radius: 3px;
}

#{$all-button-inputs} {
  background: $med-dark;
  border: .11em solid $white;
  border-radius: 3px;
  color: $white;
  font-family: $oldstandard;
  @include margin(null null null .5em)
}

h1 {
	color: $white;
	font-family: $newscycle;
	font-weight: 400;
}

header {
	background-color: $main;
	box-shadow: 0 .08em .08em .08em $dark;
}

.metrics li {
	background-color: $white;
	border-radius: 5px;
	// border: 1px solid $dark;
	box-shadow: 0 0 .15em .15em $dark;
}

footer nav {
	background-color: $main;
}


footer {
	background-color: $main;
	// background: shade($main, 20%);
	box-shadow: .08em 0 .08em .08em $dark;
}

.overlay {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	z-index: 1;
}

.overlay h3 {
	color: $white;
	font-family: $newscycle;
	@include padding(20% null null null)
}

.feature:hover .overlay {
	opacity: 1;
}

.metrics li:nth-of-type(1) {
	/*background-image: url(herd.jpg);*/
	// background-reapeat: no-repeat;
	background-size: cover;
}

.metrics li:nth-of-type(2) {
	/*@include background-image(url(expert.jpg));*/
	background-size: cover;
}

.metrics li:nth-of-type(3) {
	/*@include background-image(url(filler1.jpg));*/
	background-size: cover;
}

.metrics li:nth-of-type(4) {
	/*@include background-image(url(filler2.jpg));*/
	background-size: cover;
}

footer li a:hover {
	color: $dark;
	// text-shadow: 
}

