
html {
	background-color: $white;
}

a {
	text-decoration: none;
}

footer, footer a {
	color: $white;
	font-family: $oldstandard;
	// font-size: 1.1em;
	font-weight: 400px;
}

#{$all-text-inputs} {
  border: 1px $med-dark;
  border-radius: 3px;
}

#{$all-button-inputs} {
  background: $med-dark;
  border: .11em solid $white;
  border-radius: 3px;
  color: $white;
  font-family: $oldstandard;
  // font-size: 1.3em;
}

h1 {
	color: $white;
	font-family: $newscycle;
	font-weight: 400;
}

header {
	background-color: $main;
	box-shadow: 0 .2em .2em .2em $med-dark;
}

.metrics li {
	background-color: $white;
	border-radius: 5px;
	border: 1px solid $dark;
}

footer nav {
	background-color: $main;
}

footer nav li {

}

.block {
}

footer {
	background-color: $main;
	// background: shade($main, 20%);
	box-shadow: .15em 0 .15em .15em $med-dark;
}
