$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
// $main: #328973;
// $white: #FDFFFD;
// $dark: #003125;
$med-dark: #116751;
// $light: #70b5a4;
// $yellow: #c8a010;
$main: #2E563C;
$dark: #0F1C13;
$white: #EEEFDF;
$yellow: #BD872D;
$blue: #253A7B;

$newscycle: 'News Cycle', sans-serif;
// user newscycle for titles and h1s
$bitter: 'Bitter', serif;
// bitter for subheaders
$oldstandard: 'Old Standard TT', serif;
// old standard for body text
$mobile: new-breakpoint(max-width 902px 12);
$mini-mobile: new-breakpoint(max-width 500px 4)
