$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$main: #328973;
$white: #FDFFFD;
$dark: #003125;
$med-dark: #116751;
$light: #70b5a4;
$newscycle: 'News Cycle', sans-serif;
// user newscycle for titles and h1s
$bitter: 'Bitter', serif;
// bitter for subheaders
$oldstandard: 'Old Standard TT', serif;
// old standard for body text