<!DOCTYPE html>
<html>
<head>
  <title>EmoSecurities</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://rawgithub.com/laff/technical-indicators/master/technical-indicators.src.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
